.navbar-brand { 
    color: #f3f3f3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar-brand:hover { 
    color: #aaa5a7;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.nav-link {
      color: #f3f3f3;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: left;
    }
    
.nav-link:hover{
      color: #aaa5a7;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      text-align: left;
    }
.overlay-text { 
    position: absolute;
      margin-top: 20px;
      top: 50%;
      left: 50%;
      right: 0%;
      transform: translate(-50%, -50%);
      color: rgb(245, 243, 243);
      text-align: center;
}
.text-larger-than-h1 {
    font-size: 89px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.body-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}